bin/
packages/
src/**/bin/
src/**/obj/
doc/html/output/
temp/
*.snk
*.suo
*.userprefs
examples/**/bin/
examples/**/obj/
*.dylib
doc/pdf/**/*.aux
doc/pdf/**/*.log
doc/pdf/**/*.out
doc/pdf/**/*.pdf
doc/pdf/**/*.bbl
doc/pdf/**/*.blg
doc/pdf/**/*.toc
doc/pdf/**/*.synctex.gz
